<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>traning project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SmsServlet</display-name>
    <servlet-name>SmsServlet</servlet-name>
    <servlet-class>controller.SmsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmsServlet</servlet-name>
    <url-pattern>/SmsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpSave</display-name>
    <servlet-name>SignUpSave</servlet-name>
    <servlet-class>controller.SignUpSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpSave</servlet-name>
    <url-pattern>/SignUpSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordRecovery</display-name>
    <servlet-name>PasswordRecovery</servlet-name>
    <servlet-class>controller.PasswordRecovery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecovery</servlet-name>
    <url-pattern>/PasswordRecovery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantDetails</display-name>
    <servlet-name>ApplicantDetails</servlet-name>
    <servlet-class>controller.ApplicantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantDetails</servlet-name>
    <url-pattern>/ApplicantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicantDetailsStore</display-name>
    <servlet-name>ApplicantDetailsStore</servlet-name>
    <servlet-class>controller.ApplicantDetailsStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicantDetailsStore</servlet-name>
    <url-pattern>/ApplicantDetailsStore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>F_ApplicantDetailsServlet</display-name>
    <servlet-name>F_ApplicantDetailsServlet</servlet-name>
    <servlet-class>controller.F_ApplicantDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F_ApplicantDetailsServlet</servlet-name>
    <url-pattern>/F_ApplicantDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>F_EachApplicantDetails</display-name>
    <servlet-name>F_EachApplicantDetails</servlet-name>
    <servlet-class>controller.F_EachApplicantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F_EachApplicantDetails</servlet-name>
    <url-pattern>/F_EachApplicantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusUpdateServlet</display-name>
    <servlet-name>StatusUpdateServlet</servlet-name>
    <servlet-class>controller.StatusUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusUpdateServlet</servlet-name>
    <url-pattern>/StatusUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPaymentDetails</display-name>
    <servlet-name>ServletPaymentDetails</servlet-name>
    <servlet-class>controller.ServletPaymentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPaymentDetails</servlet-name>
    <url-pattern>/ServletPaymentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletF_PaymentRecords</display-name>
    <servlet-name>ServletF_PaymentRecords</servlet-name>
    <servlet-class>controller.ServletF_PaymentRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletF_PaymentRecords</servlet-name>
    <url-pattern>/ServletF_PaymentRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFranchiseTable</display-name>
    <servlet-name>ServletFranchiseTable</servlet-name>
    <servlet-class>controller.ServletFranchiseTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFranchiseTable</servlet-name>
    <url-pattern>/ServletFranchiseTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletOrderForm</display-name>
    <servlet-name>ServletOrderForm</servlet-name>
    <servlet-class>controller.ServletOrderForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOrderForm</servlet-name>
    <url-pattern>/ServletOrderForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletOrderSales</display-name>
    <servlet-name>ServletOrderSales</servlet-name>
    <servlet-class>controller.ServletOrderSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOrderSales</servlet-name>
    <url-pattern>/ServletOrderSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCustomerDetails</display-name>
    <servlet-name>ServletCustomerDetails</servlet-name>
    <servlet-class>controller.ServletCustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCustomerDetails</servlet-name>
    <url-pattern>/ServletCustomerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCustomerEnquiry</display-name>
    <servlet-name>ServletCustomerEnquiry</servlet-name>
    <servlet-class>controller.ServletCustomerEnquiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCustomerEnquiry</servlet-name>
    <url-pattern>/ServletCustomerEnquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFetchFranchisee</display-name>
    <servlet-name>ServletFetchFranchisee</servlet-name>
    <servlet-class>controller.ServletFetchFranchisee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchFranchisee</servlet-name>
    <url-pattern>/ServletFetchFranchisee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletChatFranchiser</display-name>
    <servlet-name>ServletChatFranchiser</servlet-name>
    <servlet-class>controller.ServletChatFranchiser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChatFranchiser</servlet-name>
    <url-pattern>/ServletChatFranchiser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFetchChat</display-name>
    <servlet-name>ServletFetchChat</servlet-name>
    <servlet-class>controller.ServletFetchChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchChat</servlet-name>
    <url-pattern>/ServletFetchChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewItemServlet</display-name>
    <servlet-name>AddNewItemServlet</servlet-name>
    <servlet-class>controller.AddNewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewItemServlet</servlet-name>
    <url-pattern>/AddNewItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemListServlet</display-name>
    <servlet-name>AddItemListServlet</servlet-name>
    <servlet-class>controller.AddItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemListServlet</servlet-name>
    <url-pattern>/AddItemListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFillItemType</display-name>
    <servlet-name>ServletFillItemType</servlet-name>
    <servlet-class>controller.ServletFillItemType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFillItemType</servlet-name>
    <url-pattern>/ServletFillItemType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStatusServlet</display-name>
    <servlet-name>CheckStatusServlet</servlet-name>
    <servlet-class>controller.CheckStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStatusServlet</servlet-name>
    <url-pattern>/CheckStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFillFranchiseeCity</display-name>
    <servlet-name>ServletFillFranchiseeCity</servlet-name>
    <servlet-class>controller.ServletFillFranchiseeCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFillFranchiseeCity</servlet-name>
    <url-pattern>/ServletFillFranchiseeCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>controller.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFetchFranchise</display-name>
    <servlet-name>ServletFetchFranchise</servlet-name>
    <servlet-class>controller.ServletFetchFranchise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchFranchise</servlet-name>
    <url-pattern>/ServletFetchFranchise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFetchApplicantDetails</display-name>
    <servlet-name>ServletFetchApplicantDetails</servlet-name>
    <servlet-class>controller.ServletFetchApplicantDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchApplicantDetails</servlet-name>
    <url-pattern>/ServletFetchApplicantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSessionInvalidate</display-name>
    <servlet-name>ServletSessionInvalidate</servlet-name>
    <servlet-class>controller.ServletSessionInvalidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSessionInvalidate</servlet-name>
    <url-pattern>/ServletSessionInvalidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFeedback</display-name>
    <servlet-name>ServletFeedback</servlet-name>
    <servlet-class>controller.ServletFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFeedback</servlet-name>
    <url-pattern>/ServletFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFranchiseFillCity</display-name>
    <servlet-name>ServletFranchiseFillCity</servlet-name>
    <servlet-class>controller.ServletFranchiseFillCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFranchiseFillCity</servlet-name>
    <url-pattern>/ServletFranchiseFillCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEditDetails</display-name>
    <servlet-name>ServletEditDetails</servlet-name>
    <servlet-class>controller.ServletEditDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEditDetails</servlet-name>
    <url-pattern>/ServletEditDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletReview</display-name>
    <servlet-name>ServletReview</servlet-name>
    <servlet-class>controller.ServletReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletReview</servlet-name>
    <url-pattern>/ServletReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCheckCity</display-name>
    <servlet-name>ServletCheckCity</servlet-name>
    <servlet-class>controller.ServletCheckCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCheckCity</servlet-name>
    <url-pattern>/ServletCheckCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFetchPaymentDetails</display-name>
    <servlet-name>ServletFetchPaymentDetails</servlet-name>
    <servlet-class>controller.ServletFetchPaymentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFetchPaymentDetails</servlet-name>
    <url-pattern>/ServletFetchPaymentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCheckEmail</display-name>
    <servlet-name>ServletCheckEmail</servlet-name>
    <servlet-class>controller.ServletCheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCheckEmail</servlet-name>
    <url-pattern>/ServletCheckEmail</url-pattern>
  </servlet-mapping>
</web-app>